html,body {
    height:100%;
    min-width:1200px;
    min-height:700px;
}
body{
    font-family:"\5FAE\8F6F\96C5\9ED1";
    font-size: 62.5%;
}
a,abbr,acronym,address,article,aside,audio,b,blockquote,big,body,canvas,caption,cite,code,datalist,dd,del,details,dfn,dl,div,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,meter,nav,menu,object,ol,output,p,pre,progress,q,samp,section,small,span,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tt,td,ul,var{
    margin:0;
    padding:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
a{
    text-decoration: none;
}
ul,ul li,li{
    list-style:none;
    list-style-type:none;
}
.clear{
    clear:both;
}
img{
    border:none;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
header {
    height:15%;
    background:rgba(1,95,167,.9);
}
header .header_box {
    margin:0 auto;
    width:1000px;
    height:100%;
}
header .header_box .logo {
    position:relative;
    margin-right:30px;
    float:left;
    width:202px;
    height:100%;
}
header .header_box .logo img{
    margin:auto;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:57px;
}
header .header_box nav {
    position:relative;
    float:left;
    width:70%;
    height:100%;
}
header .header_box nav ul {
    height:100%;
}
header .header_box nav ul li {
    position:relative;
    width:25%;
    height:100%;
    float:left;
    font-size:2.4em;
    color:#fff;
    font-weight:lighter;
    text-align:center;
    cursor:default;
}
header .header_box nav ul li span{
    margin:auto;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:1.4em;
}
header .header_box nav ul li span .list_hover {
    display:none;
}
header .header_box nav ul li:hover span .list_hover {
    display:inline;
}
header .header_box nav ul li p.list {
    display:none;
}
header .header_box nav ul li:hover {
    background:rgba(235,85,4,.9);
}
header .header_box nav ul li:hover p.list {
    display:block;
}
header .header_box nav ul li p.list {
    position:absolute;
    top:100%;
    z-index:9;
    width:400%;
    background:rgba(255,255,255,.5);
}
#about_list a {
    width:20%;
}
#news_list a {
    width:25%;
}
#business_list a {
    width:20%;
}
#contact_list a {
    width:33.3%;
}
#about_list {
    left:0;
}
#news_list {
    left:-100%;
}
#business_list {
    left:-200%;
}
#contact_list {
    left:-300%;
}
header .header_box nav ul li p.list a {
    display:inline-block;
    padding:1em 0;
    font-size:.8em;
    color:#ea5504;
}
header .header_box nav ul li p.list a:hover {
    color:#fff;
    background:rgba(234,85,4,.5);
}
/*header .header_box nav a {
	display:inline-block;
	width:25%;
	height:100%;
	text-align:center;
	color:#fff;
	font-size:2.4em;
	position:relative;
}
header .header_box nav a:hover {
	background:#d55716;
}
header .header_box nav a span {
	margin:auto;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:1.4em;
}
header .header_box nav .about_list {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	z-index:9;
	width:100%;
	background:rgba(255,255,255,.5);
}
header .header_box nav #about .about_list a{
	display:inline-block;
	padding:1em 0;
	width:20%;
	font-size:1.8em;
	color:#ea5504;
	}
header .header_box nav #about .about_list a:hover {
	color:#fff;
	background:rgba(234,85,4,.5);
}
header .header_box nav #about {
	display:inline-block;
	width:25%;
	height:100%;
}
header .header_box nav #about:hover #about_list {
	display:block;
}
header .header_box nav #about a {
	width:100%;
}
header .header_box nav #about:hover {
	background:#d55716;
}
*/